<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hb.demo.mapper.OmsOrderMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.hb.demo.enity.OmsOrder">
            <id property="orderId" column="id"/>
            <id property="memberId" column="member_id"/>
            <id property="couponId" column="coupon_id"/>
            <id property="orderSn" column="order_sn"/>
            <id property="createTime" column="create_time"/>
            <id property="memberUsername" column="member_username"/>
            <id property="totalAmount" column="total_amount"/>
            <id property="discountAmount" column="discount_amount"/>
            <id property="modifyTime" column="modify_time"/>
        </resultMap>


    <select id="getOmsOrderById" resultType="com.hb.demo.enity.OmsOrder">
        select
          id,
          member_id,
          coupon_id,
          order_sn,
          create_time,
          member_username,
          total_amount,
          discount_amount,
          modify_time
          from
          oms_order
           where id = #{omsOrderId};
    </select>
</mapper>